/* Landing Page CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Averta, sans-serif;
}
.header{
    background-image: url(https://zuri.team/img/hero-bg.svg);
    height: 800px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
a {
    color: #E7332B;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #eb5850;
}
.img1 {
    margin: auto;
    display: flex;
    padding-top: 69px;
    margin-bottom: 69px;
}

.img1 img {
    margin: auto;
}

.lbg {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.lbg h2 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 36px;
}

.lbg p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.btn {
    margin-top: 92px;
    display: inline block;
        text-align: center;
        align-items: flex-start;
}

.mbtn {
    padding: 11px 28px;
    border: 1px solid #E7332B;

}

.indbtn {
    background-color: #E7332B;
    color: #fff;
    margin-right: 24px;
}

.indbtn:hover {
    background-color: #fff;
    color: #E7332B;
}

.expbtn {
    background-color: #fff;
    color: #E7332B;
}

.expbtn:hover {
    background-color: #E7332B;
    color: #fff;
}



main {
    background-color: #fff;
    overflow: hidden;
}


.main1h {
padding-top: 0;
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 141px;
    text-align: center;
}

.main1p {
    
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 10px;

}


.pic {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.pic1 {
    width: 70%;
    height: 600px;
}

.pic2 {
    width: 30%;
    height: 600px;
}

.zuricat{
    display: flex;
    justify-content: space-between;
    margin-top: -550px !important; 
    width: 80%;
    height: 500px;
    margin: auto;
}

.zuricat div {
  
    width: 30%;
    background-color: #FFFAFA;
    padding: 61px 47px 82px 36px;
    text-align: justify-all;
}

.zuricat div img {
    margin-bottom: 48px;
}

.zuricat div p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.zuricat div h3{
    font-size: 16px;
    line-height: 24px;
    color: #E7332B;
    opacity: 0.9;
    margin-top: 30px;
}

footer {
    margin-top: 215px;
}

.footerparent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 20px;
}

footer h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
}

.address p {
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}

.icons img {
    width: 18px !important;
    margin-right: 5px;
}


footer hr {
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.copyright p {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
    justify-content: center;
    margin-left: 700px;

}




@media (max-width: 768px) {

    .header {
        height: auto;
    }

    .logo-img {
        display: block;
        padding-top: 50px;
        margin: auto;
        margin-bottom: 20px;
    }

    .lbg h2 {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
    }

    .btn {
        
        padding-bottom: 50px;
        
    }


    button.mbtn {
        display: block;
        margin: auto;
        margin-top: 20px;
        justify-content: center;
       
    }
    .main{
        
   display: block;
    }


    .pic {
            display: none;
        }

    .zuricat{
      
       flex-direction: column;
      
        height: 1700px;
        margin-top: 100px !important;
     
    
    }
    .zuricat div{
        width: 100%;
       
    }

    
    
    .footerparent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    .footer-logo {
        width: 150px;
        margin-bottom: 15px;
    }

    .footerparent h3 {
        font-size: 24px;
        margin-top: 20px;

    }
    .links a{
        padding: 10px;
    }
    .address{
        justify-content: center;
      align-items: center;
    }
    .copyright{
        margin-left: 10px;
        margin-top: 2px;
    }

    }

    /* CSS for New to Industry Page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik', sans-serif;
}


@import url('http://fonts.cdnfonts.com/css/graphik');

body {
    background-color: #fffdf5;
    width: 100%;
    margin-top: 40px;
    color: #fffdf5;

}

.section1 {
    margin: 40px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;


}

.text a {
    text-decoration: none;
    font-size: 20px;


}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lady {
    width: 378px;
    height: 351px;
}

.r2mid {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r2mid h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #000;

}

.basic {
    text-align: center;
    font-weight: 400;

}

.search {
    text-align: center;
    color: #f07f77;
    font-weight: 400;
}

.wire {
    width: 342px;
    height: 122px;
}

.line {
    width: 376px;
    height: 18.25px;
    margin-left: 200px;
    margin-bottom: 30px;

}

.male {
    width: 340px;
    height: 420px;
}

.maleface {
    width: 60px;
    height: 60px;
}

.enroll {
    display: flex;
    align-items: center;
}

.thumb {
    border: 80px;
    background-color: #f07f77;
    border-radius: 50px;
}

.btn1 {
    border: 2px;
    border-radius: 30px;
    background-color: #f07f77;
    padding: 12px 40px;
    size: 10px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-left: 1px;

}

.r2midr5 {
    margin-top: 40px;
    display: flex;







}

.btn2 {


    border-radius: 30px;
    background-color: #f07f77;
    padding: 5px 40px;
    size: 10px;
    color: white;
    font-size: 20px;
    font-weight: 300;


}

.row2 {
    margin-bottom: 35px;
}

.row3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.launch {
    font-weight: 600;
    color: #000;
}

.help {
    font-weight: 400;
    text-align: right;
    line-height: 30px;
    color: #000;
}

.help a {
    color: #43b97f;
}

.row4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.r41 h3 {
    color: #e7332b;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 5px;
}

.r41 h1 {
    font-size: 40px;
    font-weight: 600;
    color: #000;
}

.wireb {
    margin-left: 350px;
}

.star {
    margin-right: 200px;
}

.row5 {
    display: flex;
    justify-content: space-between;
    height: 450px;
    margin-top: 60px;
    padding-top: 20px;
    margin: 40px;

}

.white {
    border: 10px;
    background-color: #e7332b;
    padding-left: 50px;
    text-align: left;
    border-radius: 20px;
    color: white;

}

.row5r1 {
    display: flex;
    justify-content: space-between;

}

.row5r1 h1 {
    margin-top: 70px;
    font-size: 50px;
    font-weight: 600;
}

.white h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;

}

.white h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;

}

.yellow {
    border: 10px;
    background-color: white;
    padding-left: 50px;
    text-align: left;
    border-radius: 20px;
    color: black;
}

.yellow h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;

}

.yellow h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;

}

.green {
    border: 10px;
    background-color: #ffffff;
    padding-left: 50px;
    text-align: left;
    border-radius: 20px;
    color: black;
    box-shadow: 15px;
}

.green h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;

}

.green h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;

}

.row56 {
    background: #feece8;
    margin: 0px;

}

.row6 {
    display: flex;
    justify-content: space-between;
    height: 450px;
    margin-top: 60px;
    padding-top: 20px;
    margin: 40px;

}

.pink {
    border: 10px;
    background-color: white;
    padding-left: 50px;
    text-align: left;
    border-radius: 20px;
    color: black;

}

.row6r1 {
    display: flex;
    justify-content: space-between;

}

.row6r1 h1 {
    margin-top: 70px;
    font-size: 50px;
    font-weight: 600;
}

.pink h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;

}

.pink h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;

}

.orange {
    border: 10px;
    background-color: white;
    padding-left: 50px;
    text-align: left;
    border-radius: 20px;
    color: black;
}

.orange h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;

}

.orange h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;

}


.blue {
    border: 10px;
    background-color: #ffffff;
    padding-left: 50px;
    text-align: left;
    border-radius: 20px;
    color: black;
    box-shadow: 15px;
}

.blue h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;

}

.blue h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;

}